<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/root_style.css')}}">
</head>
<body>
    <div class="nav_bar">
		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="projects">Projects</a></li>		
				<li><a href="resume">Resume</a></li>
			</ul>
		</nav>
	</div>



	<footer>
		<div class="footer_content">
			<header>
				Contact me here:
			</header>
			<p>email: <a href="mailto:gabe.c.kessler@gmail.com">gabe.c.kessler@gmail.com</a></p>
			<div class="social-links">
				<a href="https://linkedin.com/in/gabrielkessler" target="_blank">LinkedIn</a> |
				<a href="https://github.com/killer-c0w" target="_blank">GitHub</a>
			</div>
		</div>
	</footer>
</body>
</html>