<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>GabeSite</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/root_style.css')}}">
</head>
<body>
	<div class="background_content">
		<header>
			<h1>Welcome to the GabeSite</h1>
		</header>
		
		<nav>
			<a href="root.html">Home</a>
			<a href="projects.html">Projects</a>		
			<a href="resume.html">Resume</a>
		</nav>
		
		<div class="body_content">
			<h2>Introduction</h2>
			<p>Hello. My name is Gabriel. I'm a senior Computer Science student attending Arizona State University.This is a website that I've created to display my personal skills as a programmer and CS student. Making the website itself was also a fun process. This is also the very frist website that I've made and have been able to publish to the web!</p>
		</div>	
	</div>
	<footer>
	<div class="footer_content">
		<header>
			Contact me here:
		</header>
		<p>email: <a href="mailto:gabe.c.kessler@gmail.com">gabe.c.kessler@gmail.com</a></p>
		<div class="social-links">
			<a href="https://linkedin.com/in/gabrielkessler" target="_blank">LinkedIn</a> |
			<a href="https://github.com/killer-c0w" target="_blank">GitHub</a>
		</div>
	</div>
	</footer>
	
</body>

</html>

