<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>GabeSite</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/root_style.css')}}">
</head>
<body>

<header>
	<h1>Welcome to My Personal Website</h1>
</header>
	<nav>
	<a href="#">Home</a>
	<a href="#">Projects</a>
	<a href="#">Resume</a>
	</nav
	<div class="container">
		<h2>Introduction</h2>
		<p>
			This website is under construction
		</p>
	</div>
	</body>
</html>

